aside{
    background-color: #161f26;
    padding: 20px;
    width: 30%;
    float: left;

    .widget{

        .titulo{
            color: #ff8000;
            border-bottom: 1px solid #ff8000;
            margin-bottom: 15px;
        }

        li{
            padding: 10px;
            list-style: none;
            border-bottom: 1px solid #424242;
            margin-bottom: 10px;
        }

        a{
            text-decoration: none;
            color: #f2f2f2;

            &:hover{
                color: #424242;
            }
        }

        p{
            color: #f2f2f2;
            line-height: 30px;
        }

    }
}