.main{
    width: 70%;
    background-color: #f2f2f2;
    float: left;
   
    .imagen{
        width: 100%;

        img{
            width: 100%;
        }
    }

    .post{
        padding: 30px;

        h2{
            color: #424242;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 15px;
            line-height: 30px;
        }
    }
}