footer{
    .fa-facebook-official{
        margin-right: 1rem;
        font-size: 30px;
        color: #1877f2;
    }

    .fa-twitter{
        margin-right: 1rem;
        font-size: 30px;
        color: #1da1f2;
    }

    .fa-youtube-play{
        font-size: 30px;
        color: #ff0000;
    }
}