@media (max-width: 760px){
    header{
        background-image: none;
        margin-bottom: 10rem;
       nav{
           display: flex;
           justify-content: space-between;
           align-items: center;
           margin-bottom: -2rem;
            
            .logo{
                font-size: 20px;
            }
            .nav__enlaces{
                display: none;
            }

            .nav-link{
                display: none;
            }

            .fa-phone{
                display: none;
            }

            .nav__menu{
                display: block;
                font-size: 20px;

                &:hover{
                    cursor: pointer;
                }
            }
       }

       .header__contenido{
        
          .header__titulo{
            text-align: center;
          }

          hr{
            display: none;
          }

          .header__parrafo{
            text-align: center;
            line-height: 25px;
            font-size: 12px;
          }


          .header__btn{
            padding: 5px 5px;
            text-align: center;
            display: block;

            &:hover{
                cursor: pointer;
            }
           

           a{
                &.hover{
                    cursor: pointer;
                }
           }

          }

          .header__imagen{
            margin-top: 2rem;
          }
       }

       .header__subtitulo{
            display: block;
            text-align: center;
            border-bottom: 1px solid #c2c2c2;
            margin-bottom: 2rem;
            
       }
    }

    .seccion-1{
        .seccion-1__imaganes{
          .imagen-1{
            margin-bottom:2rem;
          }
          .imagen-2{
            margin-top: 0;
            margin-left: 0;
          }
        }

        .seccion-1__contenido{
            text-align: center;
            margin-bottom: 2rem;
            margin-left: 80px;

            .seccion1__subtitulo{
                display: block;
                text-align: center;
                border-bottom: 1px solid #c2c2c2;
                margin-bottom: 2rem;
                hr{
                    display: none;
                }

                h3{
                    margin-bottom: 1rem;
                }
            }

            .seccion1__titulo{
                font-size: 25px;
            }

            .seccion1__parrafo{
                font-size: 15px;
                text-align: center;
                line-height: 30px;
            }
        }
    }

    .seccion-2__contenido{

        .set-1{
            margin-bottom: 4rem;
        }

        .set-2{
            margin-bottom: 4rem;
        }

        .set-3{
            margin-bottom: 4rem;
        }
    }

    .seccion-3{
        margin-top: -5rem;
        .thumbs{
            .thumb-1{
                margin-bottom: 2rem;
            }
        }

        .arrows{
            margin-top: 1rem;
            
        }
    }

  .seccion-4 {
    margin-top: -4rem;
        .contenedor {
            flex-direction: column;

            .contenedor-img{
               margin-top: -4rem;
                img{
                   display: none;
                }
            }

            .linea-horizontal{
                display: none;
            }

            .informacion {
              
                padding: 10px;

                h2 {
                    font-size: 1.2em;
                }

                .descripcion {
                    font-size: 0.9em;
                }

                .nombre__cliente {
                    font-size: 1em;
                }

                .valoracion__cliente {
                    font-size: 0.9em;
                }
            }
        }
    }


    .seccion-5{
        margin-top: -4rem;
        .seccion-5__informacion{
            margin-bottom: 2rem;
        }
    }
}