header{

    .header__navegacion{
        display: flex;
        justify-content: space-between;
        padding: 40px ;
        margin-bottom: 40px;

        h1{
            font-size: 30px;
        }
        

        .icono{
            width: 40px;
            stroke: #000;
            &:hover{
                cursor: pointer;
            }
        }

        .container-icon{
            position: relative;
        }
        
        .count-products{
            position: absolute;
            top: 10.5%;
            background-color: #000;
            color: #ffff;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container-cart-products{
            position: absolute;
            top:100px;
            right: 0;
            background-color: #fff;
            width: 400px;
            z-index: 1;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
            border-radius: 10px;
            
        }
        
        .cart-product{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px;
        
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        
        }
        
        .info-cart-product{
            display: flex;
            justify-content: space-between;
            flex: 0.8;
        }
        
        .titulo-producto-carrito{
            font-size: 20px;
        }
        
        .precio-producto-carrito{
            font-weight: 700;
            font-size: 20px;
            margin-left: 10px;
        }
        
        .cantidad-producto-carrito{
            font-weight: 400;
            font-size: 20px;
        }
        
        .icon-close{
            width: 25px;
            height: 25px;
        }
        
        .icon-close:hover{
            stroke: red;
            cursor: pointer;
        }
        
        .cart-total{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            gap: 20px;
        }
        
        .cart-total h3{
            font-size: 20px;
            font-weight: 700;
        }
        
        .total-pagar{
            font-size: 20px;
            font-weight: 900;
        }
        
        .hidden-cart{
           display: none;
        }

        
        
    
    }
  
 
}